.heading {
    font-size: 40px;
    width: 100%;
    background-color: #bc672c ;
    margin-top: 0px;
    color:#fffaf7 ;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fjalla One', sans-serif;
}


.note {
    font-size: 18px;
    color: #f2dcc5;
}

.songname {
    background-color: #79c5e7;
    font-size: 20px;
    margin: 15px;
    color: #002447;
}

canvas {
    border: 5px solid #f2dcc5;
    border-radius: 20px;
    margin-top: 100px;
}